
@media screen and (max-width: 1000px) {
  .container {
    max-width: 1000px;
  }

}

@media screen and (max-width: 670px) {

  body {
    width: 670px;
  }

  .header-wrapper {
    width: 670px;
  }
   .container {
    max-width: 670px;
  }

  .top-button {
  position: fixed;
  width: 670px;
  top: 580px;
  left: 560px;
}

.illust-wrapper {
  display: none;
}

  /* -------------------- header -------------------- */

  .logo-header img{
    height: 40%;
    margin-left: 10px;
  }

  .link {
    margin-right: 5px;
  }

  .search {
    display: none;
  }

  /* -------------------- common -------------------- */

  .main-body {
  width: 670px;
}


  .main-title {
    width: 77%;
    top: 105px;
    right: 0px;

  }

  .main-image {
    width: 670px;
    margin: 0;
    top: 60px;
  }

  .main-top {
    width: 670px;
    top: 50px;
  }

  .main-top img {
    width: 107%;
  }

  .main-wrapper{
    height: 940px;
    width: 670px;
  }


  .concept-luncheon-wrapper {
    width: 670px;
    top: -6px;
    height: 1942px;
  }


  .concept-title {
    padding-top: 66px;
  }

  .concept-title img {
    width: 67%;
  }

  .concept-text {
    margin-top: -5px;
  }

  .concept-text img {
    padding-right: 0px;
    width: 75%;
  }

  .concept-text p {
    top: 17px;
    left: 163px;
    font-size: 12px;
    font-weight: bold;
    line-height: 23px;
  }

  .luncheon-wrapper {
    margin-top: 165px;
  }

  .present {
    width: 37%;
    padding-bottom: 5px;
  }

  .luncheon-text  {
    width: 58%;
    padding-bottom: 38px;
  }

  .luncheon_photo {
    width: 96%;
    padding-bottom: 30px;
  }

  .dl {
    width: 100%;
    padding-bottom: 35px;
  }

.dl h4 {
  font-size: 17px;
  letter-spacing: 3px;
}

.dl p {
  margin-top: -6px;
  font-size: 10px;
  letter-spacing: 3px;
}

.line :first-child {
  width: 8.5%;
  top: -50px;
  left: 120px;
}

.line :nth-child(2){
  width: 8.5%;
  top: -50px;
  right: 120px;
}

 .coloring {
  display: block;
  justify-content: center;
  padding: 0;
}

.coloring-common:first-child {
  margin-top: -10px;
  margin-bottom: 50px;
  padding: 0;
}

.coloring-common img {
  width: 75%;
}

.copy-button {
  width: 200px;
  height: 60px;
  border-radius: 7px;
  line-height: 60px;
  color: #6E2F29;
  margin-top: 5px;
}

.copy-button p {
    font-size: 20px;
    padding-right: 6px;
}

  .cl-PC {
  width: 670px;
  display: none;
  }

  .cl-SP {
  width: 670px;
  display: block;
  }

   /* -------------------- menu -------------------- */

  .menu-wrapper {
    width: 670px;
    margin-top: -100px;
    height: 4047px;
  }

  .menu-title {
    top: 100px;
    height: 180px;
    margin-left: 20px;
}


  .menu-title h2 img {
    width: 82%;
  }

  .menu-title p {
    top: 130px;
    left: 110px;
    font-size: 18px;
  }

  .menu {
    top: 0px;
  }

  .place2 {
  width: 100%;
  height: 140px;
}


.about h3 {
font-size: 22px;
line-height: 33px;
letter-spacing: 1.5px;
}

.about h4 {
  font-size: 20px;
  padding-bottom: 6px;
}


.about-text {
  font-size: 14px;
  line-height: 25px;
  font-family: 'Hiragino Maru Gothic Pro';
  padding-bottom: 10px;
}

.about-odd {
  width: 500px;
  height: 322px;
  background-image: url("../image/menu_bg_sp_1.svg");
  margin-top: -15px;
  margin-right: 30px;
  padding-top: 60px;
  padding-left: 10px;
}

.about-even {
  width: 500px;
  height: 322px;
  background-image: url("../image/menu_bg_sp_2.svg");
  margin-top: -25px;
  margin-left: 40px;
  padding-top: 60px;
  padding-right: 0px;
}

.detail {
  border-radius: 17px;
  width: 240px;
  height: 65px;
}

.detail p {
  font-size: 30px;
  line-height: 65px;
}


.millefeuille {
  display: block;
  height: 638px;
  margin-bottom: 20px;
}

.millefeuille img:first-child {
  top: 0px;
  left: 70px;
  width: 40%;
}

.millefeuille img:nth-child(2) {
  float: none;
  left: 30px;
  top: 65px;
  width: 90%;
  transform: rotate(-0.0143turn);
}

.kidsPlate {
  display: block;
  height: 610px;
  margin-bottom: 20px;
}

.kidsPlate img:first-child {
  top: 0px;
  right: 65px;
  width: 40%;
  transform: rotate(-0.006turn);
}

.kidsPlate img:nth-child(2){
  float: none;
  transform: rotate(-0.006turn);
  width: 88%;
  top: 60px;
  right: -40px;
}

.plate {
  display: block;
  height: 760px;
  margin-bottom: 30px;
}

.plate img:first-child{
  top: 0px;
  width: 38%;
  left: 80px;
}

.plate img:nth-child(2) {
  float: none;
  transform: rotate(0turn);
  top: 60px;
  width: 88%;
  left: 30px;
}

.pizza {
  display: block;
  height: 598px;
  margin-bottom: 20px;
}

.pizza img:first-child {
  top: 0px;
  width: 36%;
  right: 80px;
  transform: rotate(-0.0143turn);
}

.pizza img:nth-child(2) {
  float: right;
  position: relative;
  transform: rotate(0);
  width: 88%;
  top: 65px;
  right: 20px;
  margin-bottom: 25px;
}

.juice {
  display: block;
  height: 770px;
  margin-bottom: 40px;
}

.juice img:first-child {
  top: 10px;
  width: 34%;
  left: 300px;
  transform: rotate(0.0100turn);
}

.juice img:nth-child(2) {
  float: none;
  transform: rotate(-0.0521turn);
  width: 60%;
  top: -100px;
  left: 80px;
}

.juice .about-odd{
  margin-top: -200px;
  margin-right: 0px;
}

.juice .about h3 {
  line-height: 24px;
}

.juice .about h4 {
  padding-bottom: 0px;
}

.juice .about-text {
  padding-bottom: 7px;
}

.buy {
  right: 0;
  left: 0;
  margin: 0 auto;
}

.buy-button {
  height: 480px;
  margin-top: 0;
}

.buy-front p{
  font-size: 35px;
  letter-spacing: 1px;
  top: 57px;
  left: 120px;
}

.buy-front img {
  width: 100%;
  top: 0;
}


.buy-front:active{
  position: absolute;
  top: 18px;
}

.shadow {
  display: inline-block;
  width: 498px;
  height: 100px;
  border-radius: 25px;
  margin-top: 50px;
  margin-left: 3px;
}


.menu-PC {
  display: none;
}

.menu-SP {
  width: 670px;
  display: block;
}

 /* -------------------- last -------------------- */

 .last-wrapper {
  width: 670px;
  height: 383px;
  position: relative;
  margin-top: 0px;
  font-size: 0;
}

.last-wrapper img {
  width: 100%;
}

 /* -------------------- footer -------------------- */


.footer-wrapper {
  width: 670px;
  height: 141px;
}

.footer-wrapper p{
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 1.5px;
  margin-top: 15px;
}

.footer-wrapper img {
  width: 103%;
  top: 56px;
  left: -24px;
}

.sns i{
  font-size: 1.8em;
  padding-top: 10px;
}

.sns :nth-child(-n+2) {
  padding-right:60px;
}

footer {
  width: 670px;
  height: 940px;
  background-color: #FFF9E6;
}

.footer-under {
  padding: 100px 137px 0 137px;
}

.footer-under img{
  float: none;
  right: 0;
  left: 0;
  margin: auto;
  width: 380px;
  padding-bottom: 20px;
}

.footer-under a{
  display: none;
}

.footer-link {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.footer-link a {
  font-size: 25px;
  font-family: 'Hiragino Kaku Gothic Pro W3';
  
}

.footer-link a:nth-child(-n+6) {
  padding-right: 0px;
}

.footer-link a:nth-child(-n+7) {
  padding-top: 40px;
}

.footer-link a:last-child {
  margin-bottom: 60px;
}

.f-sns {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 60px;
}

.f-sns a i{
  font-size: 2em;
}

.footer-sns i:nth-child(-n+2) {
  padding-right: 40px;
}



.copylight {
  color: #645E59;
  text-align: center;
  padding: 35px 0 35px 0;
  font-size: 15px;
  letter-spacing: 1px;
}



.show-PC {
  display: none;
}

.show-SP {
  display: block;
}

}
